/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
  }

  .app {
    width: 330px;
    height: 600px;
  }

  #addNew input {
    padding: 10px 0 10px 10px;
  }

  span .btn {
    margin-left: 250px;
  }

  .wraper {
    width: 310px;
    height: 340px;
  }

  #tasks {
    width: 300px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  i {
    font-size: 16px;
  }

  #tasks div span {
    font-size: 16px;
  }
}

/* Medium devices (landscape tablets, 768px) */
@media only screen and (min-width: 601px) and (max-width: 999px) and (orientation: portrait) {
  body {
    height: 100vh;
  }
  .app {
    height: 700px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    padding-top: 10px;
    font-size: 16px;
  }

  .wraper {
    height: 420px;
  }
}

/* Large devices (laptops/desktops/tablets 992px) */
@media only screen and (min-width: 801px) and (max-width: 1950px) and (orientation: landscape) {
  body {
    height: 100vh;
  }
  .app {
    height: 670px;
  }
  .wraper {
    height: 390px;
    width: 470px;
  }
}

/* Large devices (laptops/desktops) */
/* @media only screen and (min-width: 1400px) and (max-width: 1600px) and (orientation: landscape) {
  body {
    height: 100vh;
  }
  .app {
    height: 610px;
  }
  .wraper {
    height: 350px;
  }
} */
